{% extends "base.html" %}

{% block left %}
{% if turnirs %}
    <h3>{{ turnirs.turnira_nosaukums }}</h3>
    <h4>Datums: {{ turnirs.turnira_datums }}</h4>
{% endif %}
{% endblock left %}



{% block content %}

{% if turnirs %}
    {% if turnirs_result %}
        <h2>Turnira rezultati</h2>
        <table>
            <tr>
                <th>Speletajs</th>
                <th >Trase</th>
                <th >Trases metienu skaits</th>
                <th >Speletaja rezultats</th>
            </tr>
            {% for viena_turnira_rezultats in turnirs_result -%}
                <tr>
                    <td><a href="/speletajs/{{ viena_turnira_rezultats.speletajs.id }}">{{ viena_turnira_rezultats.speletajs.vards}} {{ viena_turnira_rezultats.speletajs.uzvards}}</a></td>
                    <td><a href="/trase/{{ viena_turnira_rezultats.trase }}">{{ viena_turnira_rezultats.trase }}</a></td>
                    <td>{{ viena_turnira_rezultats.trases_metienu_skaits }}</td>
                    <td>{{ viena_turnira_rezultats.speletaja_rezultats }}</td>
                </tr>
            {%- endfor %}
        </table>
    {% endif %}
{% else %}
    Sorry, turnirs isn't defined.
{% endif %}

{% endblock content %}
