{% extends "base.html" %} {% block content %}

{% if turnirs %}
    <table>
        <tr>
            <th>Turnira nosaukums</th>
            <th style="margin-left: 2cm;">Turnira datums un laiks</th>
        </tr>
        <tr>
            <th>{{ turnirs.turnira_nosaukums }}</th>
            <th style="margin-left: 2cm;">{{ turnirs.turnira_datums }}</th>
        </tr>
    </table>
    {% if turnirs_result %}
        <h2>Turnira rezultati</h2>
        <table>
            <tr>
                <th>Speletajs</th>
                <th style="margin-left: 2cm;">Trase</th>
                <th style="margin-left: 2cm;">Trases metienu skaits</th>
                <th style="margin-left: 2cm;">Speletaja rezultats</th>
            </tr>
            {% for viena_turnira_rezultats in turnirs_result -%}
                <tr>
                    <th>{{ viena_turnira_rezultats.speletajs.vards}} {{ viena_turnira_rezultats.speletajs.uzvards}}</th>
                    <th style="margin-left: 2cm;">{{ viena_turnira_rezultats.trase }}</th>
                    <th style="margin-left: 2cm;">{{ viena_turnira_rezultats.trases_metienu_skaits }}</th>
                    <th style="margin-left: 2cm;">{{ viena_turnira_rezultats.speletaja_rezultats }}</th>
                </tr>
            {%- endfor %}
        </table>
    {% endif %}
{% else %} 
    Sorry, turnirs isn't defined. 
{% endif %}

{% endblock content %}