{% extends "base.html" %}

{% block left %}

Izvieidot jaunu turnīru

{% endblock left %}


{% block content %}

<form method="POST">
  <fieldset class="flex two">
    <label for="name">Turnīra nosaukums</label>
    <input type="text" name="name" value="" />

    <label for="datetime">Turnira datums un laiks</label>
    <input
      type="datetime-local"
      name="datetime"
      value=""
      placeholder="yyyy-mm-dd hh:mm:ss"
    />
  </fieldset>
  <label for="players[]">Spēlētāji</label>
  <select multiple="multiple" id="myMulti" name="players[]">
    {% for speletajs in speletaji%}
    <option value="{{ speletajs.id }}">
      {{ speletajs.vards }} {{ speletajs.uzvards }}
    </option>
    {% endfor %}
  </select>

  <label for="tracks">Trase</label>
  <select name="tracks">
    {% for parks_trase in parks_trase_list %}
    <option value="{{ parks_trase.1 }}">{{ parks_trase.0 }}</option>
    {% endfor %}
  </select>

  <input type="submit" name="METHOD" value="SUBMIT" />
</form>
{% endblock content %}
