{% extends "base.html" %}

  {% block left %}
    {% if parks %}
    <h1>{{ parks.nosaukums }}</h2>
    <div>{{ parks.apraksts }}</div>
    <div>{{ parks.adrese }}</div>
    <div>{{ parks.telefona_numurs }}</div>
    <div>{{ parks.darba_laiks_sakums }} - {{parks.darba_laiks_beigas}}</div>
    {% else %} Nepareizs parks? {% endif %}
  {% endblock left %}

{% block content %}
<div>

  {% if trases %}
  <h3>Parka trases</h3>
      {% for trase in trases -%}
      <a class="button stack" href="/trase/{{ trase.id }}"> Trase NR. {{ trase.id }}</a>
      {%- endfor %}
  {% endif %}
</div>
{% endblock content %}
