{% extends "base.html" %} {% block left %}

<h3>Saturs</h3>
<a href="#overview" class="button stack">Pārskats</a>
<a href="#grozi" class="button stack">Grozi</a>
<a href="#hard-grozi" class="button stack">Grūtākie hrozi</a>
<a href="#best-players" class="button stack">Labākie spēlētāji</a>

{% endblock left %} {% block content %}

<h3 id="overview">Vispārigs trases pārskatas</h3>
<table>
  <tr>
    <th>Grozu skaits</th>
    <th>Maksimālais punktu skaits</th>
    <th>Trases garums</th>
  </tr>

  {% for trase in trase_overview -%}
  <tr>
    <td>{{ trase.grozu_skaits }}</td>
    <td>{{ trase.Maksimalais_punktu_skaits }}</td>
    <td>{{ trase.trases_garums }}</td>
  </tr>
  {%- endfor %}
</table>

<hr />

<h3 id="grozi">Trases grozu secība</h3>
<table>
  <tr>
    <th>Kārtas nr.</th>
    <th>Grozs</th>
    <th>Maksimālais metienu skaits</th>
    <th>Soda punkti</th>
    <th>Attālums līdz grozam</th>
    <th>Punkti</th>
    <th>Videjais metienu skaits</th>
  </tr>

  {% for secigs_grozs in get_trase_grozu_seciba -%}
  <tr>
    <td>{{ secigs_grozs.kartas_numurs }}</td>
    <td>{{ secigs_grozs.grozs.id }}</td>
    <td>{{ secigs_grozs.grozs.maksimalais_metienu_skaits }}</td>
    <td>{{ secigs_grozs.grozs.soda_punkti }}</td>
    <td>{{ secigs_grozs.grozs.attalums_lidz_grozam }}</td>
    <td>{{ secigs_grozs.punkti }}</td>
    <td>{{ secigs_grozs.videjais_metienu_skaits }}</td>
  </tr>
  {%- endfor %}
</table>

<hr />
<h3 id="hard-grozi">3 Grūtākie grozi trasē</h3>
<table>
  <tr>
    <th>Grozs</th>
    <th>Vidējais rezultāts</th>
  </tr>

  {% for secigs_grozs in hardest_grozs_in_trase -%}
  <tr>
    <td>{{ secigs_grozs.grozs.id }}</td>
    <td>{{ secigs_grozs.Videjais_rezultats }}</td>
  </tr>
  {%- endfor %}
</table>

<hr />
<h3 id="best-players">Labākie spēlētāji</h3>
<table>
  <tr>
    <th>Spēlētājs</th>
    <th>Rezultāts trasē</th>
  </tr>

  {% for player in best_players_in_trase -%}
  <tr>
    <td>
      <a href="/speletajs/{{ player.speletajs.id }}">
        {{ player.speletajs.vards }} {{ player.speletajs.uzvards }}</a
      >
    </td>
    <td>{{ player.metienu_skaits_trase }}</td>
  </tr>
  {%- endfor %}
</table>

{% endblock content %}
