{% extends "base.html" %}

{% block left %}
<h2>Pedējo reizi atjaunots: {{ original.atjaunots }}</h2>
{% endblock left %}
{% block content %}


<form method="POST">
  {% if original -%}
  <input type="hidden" name="id" required value="{{ original.id }}" />
  <input type="hidden" name="atjaunots" required value="{{ original.atjaunots }}" />
  {% else %}
  <input type="hidden" name="id" required value="-1" />
  {%- endif %}

  <label for="vards">Vārds</label>
  <input
    type="text"
    name="vards"
    required
    value="{% if original -%}{{ original.vards }}{%- endif %}"
  />

  <label for="uzvards">uzvārds</label>
  <input
    type="text"
    name="uzvards"
    value="{% if original -%}{{ original.uzvards }}{%- endif %}"
  />

  <label for="dzimsanas_dati">Dzimšanas datums</label>
  <input
    type="date"
    name="dzimsanas_dati"
    value="{% if original -%}{{ original.dzimsanas_dati }}{%- endif %}"
  />

  <input type="submit" name="METHOD" value="SAVE" />
</form>
{% endblock content %}
