{% extends "base.html" %}


{% block left %}
<h3>Sistēmas parku pārskats</h3>
<a href="new/" class='button success'>IZVEIDOT JAUNU GROZU</a>
{% endblock left %}

{% block content %}

<table>
  <tr>
    <th>ID</th>
    <th>Soda punkti</th>
    <th>Maksimalais metienu skaits</th>
    <th>Attālums līdz grozam</th>
    <th>Rediģēt</th>
    <th>Dzēst</th>
  </tr>

  {% for grozs in all_grozi -%}
  <tr>
    <form method="POST">
      <input type="hidden" name="PARKS" value="{{ grozs.id }}" />
      <td>{{ grozs.id }}</td>
      <td>{{ grozs.optimalais_metienu_skaits }}</td>
      <td>{{ grozs.attalums_lidz_grozam }}</td>
      <td><a href="{{ grozs.id }}">EDIT </a></td>
      <td><input type="submit" name="METHOD" value="DELETE" /></td>
    </form>
  </tr>
  {%- endfor %}
</table>
{% endblock content %}
