{% extends "base.html" %}

{% block left %}
<h3>Sistēmas parku pārskats</h3>
<a href="new/" class='button success'>IZVEIDOT JAUNU PARKU</a>
{% endblock left %}

{% block content %}
<table>
  <tr>
    <th>ID</th>
    <th>Nosaukums</th>
    <th>Rediģēt</th>
    <th>Dzēst</th>
  </tr>

  {% for park in parks -%}
  <tr>
    <form method="POST">
      <input type="hidden" name="PARKS" value="{{ park.id }}" />
      <td>{{ park.id }}</td>
      <td><a href="/parks/{{park.id}}">{{ park.nosaukums }}</a></td>
      <td><a href="{{ park.id }}">EDIT </a></td>
      <td><input type="submit" name="METHOD" value="DELETE" /></td>
    </form>
  </tr>
  {%- endfor %}
</table>
{% endblock content %}
