{% extends "base.html" %}



{% block left %}
<h3>Sistēmas parku pārskats</h3>
<a href="new/" class='button success'>IZVEIDOT JAUNU SPELETAJU</a>
{% endblock left %}
{% block content %}

<table>
    <tr>
        <th>Vards</th>
        <th>Uzvards</th>
        <th>Dzimsanas dati</th>
        <th>Atjaunots</th>
        <th>Rediģēt</th>
        <th>Dzēst</th>
    </tr>

    {% for speletajs in speletaji -%}
    <tr>
        <form method="POST">
            <input type="hidden" name="SPELETAJS" value="{{ speletajs.id }}" />
            <td> <a href="/speletajs/{{speletajs.id}}">{{ speletajs.vards }}</a></td>
            <td>{{ speletajs.uzvards }}</td>
            <td>{{ speletajs.dzimsanas_dati }}</td>
            <td>{{ speletajs.atjaunots }}</td>
            <td><a href="{{ speletajs.id }}">EDIT </a></td>
            <td><input type="submit" name="METHOD" value="DELETE" /></td>
        </form>
    </tr>
    {%- endfor %}
</table>
{% endblock content %}
