{% extends "base.html" %}


{% block left %}
<h3>Sistēmas parku pārskats</h3>
<a href="new/" class='button success'>IZVEIDOT JAUNU TURNIRU</a>
{% endblock left %}

{% block content %}

<table>
  <tr>
    <th>NOSAUKUMS</th>
    <th>DATUMS</th>
    <th>Rediģēt</th>
    <th>Dzēst</th>
  </tr>

  {% for turnirs in turniri -%}
  <tr>
    <form method="POST">
      <input type="hidden" name="TURNIRS" value="{{ turnirs.id }}" />
      <td><a href="/turnirs/{{ turnirs.id}}">{{ turnirs.turnira_nosaukums }}</a></td>
      <td>{{ turnirs.turnira_datums }}</td>
      <td><a href="{{ turnirs.id }}">EDIT </a></td>
      <td><input type="submit" name="METHOD" value="DELETE" /></td>
    </form>
  </tr>
  {%- endfor %}
</table>
{% endblock content %}
