{% extends "base.html" %}

{% block left %}

{% if speletajs %}
<h2>{{ speletajs.vards }} {{ speletajs.uzvards }}</h2>
<h4>Spēlētāja uzvaras: {{ uzvaras_proc }} %</h4>
<h4>Videjais metienu skaits: {{ videjais_metienu_skaits }}</h4>

{% endif %}

{% endblock left %}

{% block content %}


{% if turnirs_details %}
<h2>Turniru rezultati</h2>
<table>
  <tr>
    <th>Turnīrs</th>
    <th>Turnīra datums</th>
    <th>Trase</th>
    <th>Trases optimālais metienu skaits</th>
    <th>Spēlētāja rezultāts</th>
    <th>Uzvarēja</th>
  </tr>
  {% for viena_turnira_rezultats in turnirs_details -%}
  <tr>
    <td><a href="/turnirs/{{ viena_turnira_rezultats.turnirs.id}}">{{ viena_turnira_rezultats.turnirs.turnira_nosaukums}}</a></td>
    <td>{{ viena_turnira_rezultats.turnirs.turnira_datums}}</td>
    <td><a href="/trase/{{ viena_turnira_rezultats.trase}}"> {{ viena_turnira_rezultats.trase}}</a></td>
    <td>{{ viena_turnira_rezultats.trases_metienu_skaits }}</td>
    <td>{{ viena_turnira_rezultats.speletaja_rezultats }}</td>
    <td>{{ viena_turnira_rezultats.uzvaretajs }}</td>
  </tr>
  {%- endfor %}
</table>
{% else %} Sorry, turnirs isn't defined. {% endif %} {% endblock content %}
