{% extends "base.html" %}

{% block left %}
Disku golfs ir ārpustelpu sporta
spēle, kurā spēlētājam īpašs lidojošais disks jāiemet īpašā grozā. Kāpēc golfs?
- tāpēc, ka uzdevums, līdzīgi kā tradicionālajā golfā, ir nonākt pie mērķa, šajā
gadījumā groza, ar pēc iespējas mazāku metienu skaitu. Disku golfu spēlē īpašos
disku golfa laukumos, kuros parasti ir 18, retāk - 9 grozi. Ceļu uz katru grozu
sāk no starta laukuma, bet laukumā esošie šķēršļi - koki, reljefs, ūdenstilpnes
- spēli padara interesantāku. Nozīme ir ne tikai metiena spēkam un tehnikai, bet
arī stratēģijai, pareizi pieņemtam lēmumam šķēršļa apiešanā vai metiena
trajektorijas izvēlē. Disku golfa stiprā puse ir pieejamība: to var spēlēt
jebkurā vecumā, turklāt diski - tieši tādi paši, ar kādiem spēlē profesionāļi -
nopērkami par 10-20 eiro. Disku golfa laukumos inventāru var arī iznomāt, taču
spēles maģija ātri apbur un laiks līdz savai pirmajai spēles somai ar trim,
pieciem, pat desmit dažādiem diskiem ir īss!

<a href="http://www.ldgf.lv/kas-ir-diskugolfs/"> Disku golfa federācija </a>
{% endblock left %}

{% block content%}
<h3>Grūtākie grozi sistēmā</h3>
<table>
  <tr>
    <th>Groza ID</th>
    <th>attālums līdz grozam</th>
    <th>soda punkti</th>
    <th>Maksimālais atļautais metienu skaits</th>
    <th>Vidējais rezultāts</th>
  </tr>

  {% for hardcode in hard_grozi -%}
  <tr>
    <td>{{ hardcode.grozs.id }}</td>
    <td>{{ hardcode.grozs.attalums_lidz_grozam }}</td>
    <td>{{ hardcode.grozs.maksimalais_metienu_skaits }}</td>
    <td>{{ hardcode.grozs.soda_punkti }}</td>
    <td>{{ hardcode.rezultats }}</td>
  </tr>
  {%- endfor %}
</table>

{% endblock content %}
